<ion-view title="My Family" id="page19">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div id="myFamily-button-bar10" class="button-bar bb1">
      <button id="myFamily-button54" class="button button-positive button-block">그룹편집</button>
      <a ui-sref="withFamilyWithFriend.page20()" id="myFamily-button55" class="button button-positive button-block">멤버추가</a>
      <a ui-sref="withFamilyWithFriend.page23()" id="myFamily-button56" class="button button-positive button-block">그룹가계부</a>
    </div>
    <div class="circleImg">
      <img src="img/V2jvSixKStitSNfDY4qL_pic2.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="myFamily-heading4" style="color:#000000;text-align:center;" class="m0">My Family (3)</h4>
    <div id="myFamily-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">내가 사랑하는 우리 가족의 가계부~</p>
    </div>
    <ion-list id="myFamily-list8">
      <ion-item class="item-avatar memberList" id="myFamily-list-item54">
        <h2>Eunjung Choi</h2>
        <p>010-1234-1234</p>
        <ion-option-button class="button-assertive">삭제</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar memberList" id="myFamily-list-item56">
        <h2>Sungri Kang</h2>
        <p>010-1234-1234</p>
        <ion-option-button class="button-assertive">삭제</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar memberList" id="myFamily-list-item57">
        <h2>Yebeen Kang</h2>
        <p>010-1234-1234</p>
        <ion-option-button class="button-assertive">삭제</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>