<ion-view title="항목관리" hide-back-button="true" id="page3">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <ion-list id="page3-list10">
      <ion-item class="item-thumbnail-left item-icon-right" id="page3-list-item21" ui-sref="withFamilyWithFriend.page11()">
        <img src="img/rD6O7flDQukQS0H2a7Di_items1.png">
        <h2>수입지출항목</h2>
        <p>수입 지출 항목 관리</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="page3-list-item22" ui-sref="withFamilyWithFriend.page13()">
        <img src="img/sKFXDlEuQeoXU6uvoYKc_items2.png">
        <h2>재원관리</h2>
        <p>은행계좌, 신용카드 관리</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="page3-list-item23" ui-sref="withFamilyWithFriend.page12()">
        <img src="img/IActmiRTLST8VtuSS3hf_items3.png">
        <h2>반복예산관리</h2>
        <p>매월반복되는 예산 관리</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="page3-list-item24" ui-sref="withFamilyWithFriend.page14()">
        <img src="img/W7qJmxt4TVSlIcmoaanS_items4.png">
        <h2>환경설정</h2>
        <p style="white-space:normal;">시작일자, 비밀번호 설정, 엑셀내보내기 등</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>