<ion-view title="초대상세" id="page22">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> 수락</button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div class="spacer" style="width: 320px; height: 19px;"></div>
    <div id="page22-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Park 님이 My Family 그룹 멤버로 초대하였습니다. </p>
    </div>
    <div class="circleImg">
      <img src="img/V2jvSixKStitSNfDY4qL_pic2.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="page22-heading5" style="color:#000000;text-align:center;" class="m0">My Family (3)</h4>
    <div id="page22-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">내가 사랑하는 우리 가족의 가계부~</p>
    </div>
    <ion-list id="page22-list9">
      <ion-item class="item-avatar" id="page22-list-item61">
        <h2>Eunjung Choi</h2>
        <p>010-1234-1234</p>
      </ion-item>
      <ion-item class="item-avatar" id="page22-list-item62">
        <h2>Sungri Kang</h2>
        <p>010-1234-1234</p>
      </ion-item>
      <ion-item class="item-avatar" id="page22-list-item63">
        <h2>Yebeen Kang</h2>
        <p>010-1234-1234</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 320px; height: 13px;"></div>
  </ion-content>
</ion-view>