<ion-view title="회원가입" hide-nav-bar="true" id="page9">
  <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
    <form id="page9-form2" class="list">
      <div class="spacer" style="width: 320px; height: 50px;"></div>
      <div>
        <img src="img/pwaV9ikSJuJX5XX5H0xi_joinUs.png" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <ion-list id="page9-list3">
        <label class="item item-input" id="page9-input3">
          <span class="input-label">* 이름</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page9-input4">
          <span class="input-label">* 이메일</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="page9-input9">
          <span class="input-label">* 휴대폰</span>
          <input type="tel" placeholder="">
        </label>
        <label class="item item-input" id="page9-input5">
          <span class="input-label">* 비밀번호</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 320px; height: 20px;"></div>
      <div id="page9-button-bar3" class="button-bar">
        <a ui-sref="withFamilyWithFriend.page8()" id="page9-button26" class="button button-stable">취소</a>
        <a ui-sref="withFamilyWithFriend.page1()" id="page9-button27" class="button button-assertive">회원가입</a>
      </div>
    </form>
    <div id="page9-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">SG Moneybook
        <strong>서비스의 회원 약관</strong> 및</p>

      <p style="color:#000000;">
        <strong>개인정보 취급방침</strong>을 수락합니다.</p>
    </div>
  </ion-content>
</ion-view>