<ion-view title="수입지출항목관리" id="page11">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-add-circle"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <ion-list id="page11-list11">
      <ion-item class="item-divider bgB1D5DD" id="page11-list-item-divider1"> 수입항목</ion-item>
      <ion-list id="page11-list12">
        <ion-item class="item-icon-left item-icon-right" id="page11-list-item28">
          <i class="icon ion-ios-plus-outline"></i>급여
          <i class="icon ion-pin"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" id="page11-list-item34">
          <i class="icon ion-ios-plus-outline"></i>보너스
          <i class="icon ion-pin"></i>
        </ion-item>
        <ion-item class="item-icon-left" id="page11-list-item35">
          <i class="icon ion-ios-plus-outline"></i>전월이월</ion-item>
        <ion-item class="item-icon-left" id="page11-list-item36">
          <i class="icon ion-ios-plus-outline"></i>기타수입</ion-item>
      </ion-list>
    </ion-list>
    <ion-list id="page11-list14">
      <ion-item class="item-divider bgB1D5DD" id="page11-list-item-divider2"> 지출항목</ion-item>
      <ion-list id="page11-list13">
        <ion-item class="item-icon-left item-icon-right" id="page11-list-item31">
          <i class="icon ion-ios-minus-outline"></i>공과금
          <span class="item-note">관리비,전기,수도,가스</span>
          <i class="icon ion-pin"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" id="page11-list-item37">
          <i class="icon ion-ios-minus-outline"></i>통신료
          <span class="item-note">휴대폰,인터넷</span>
          <i class="icon ion-pin"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" id="page11-list-item38">
          <i class="icon ion-ios-minus-outline"></i>렌탈보험
          <span class="item-note">정수기,식기세척기</span>
          <i class="icon ion-pin"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" id="page11-list-item39">
          <i class="icon ion-ios-minus-outline"></i>교육비
          <span class="item-note">등록금,급식비,학원비</span>
          <i class="icon ion-pin"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" id="page11-list-item40">
          <i class="icon ion-ios-minus-outline"></i>교통비
          <span class="item-note">대중교통,택시비,주유비</span>
          <i class="icon ion-pin"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" id="page11-list-item41">
          <i class="icon ion-ios-minus-outline"></i>저축투자
          <span class="item-note">적금,펀드</span>
          <i class="icon ion-pin"></i>
        </ion-item>
        <ion-item class="item-icon-left" id="page11-list-item32">
          <i class="icon ion-ios-minus-outline"></i>식비
          <span class="item-note">주식,간식,외식</span>
        </ion-item>
        <ion-item class="item-icon-left" id="page11-list-item47">
          <i class="icon ion-ios-minus-outline"></i>건강의료
          <span class="item-note">병원,약값</span>
        </ion-item>
        <ion-item class="item-icon-left" id="page11-list-item42">
          <i class="icon ion-ios-minus-outline"></i>의류잡화
          <span class="item-note">의류,신발,가방</span>
        </ion-item>
        <ion-item class="item-icon-left" id="page11-list-item14">
          <i class="icon ion-ios-minus-outline"></i>미용헤어
          <span class="item-note">화장품,미용실</span>
        </ion-item>
        <ion-item class="item-icon-left" id="page11-list-item43">
          <i class="icon ion-ios-minus-outline"></i>여행문화
          <span class="item-note">여행,문화생활</span>
        </ion-item>
        <ion-item class="item-icon-left" id="page11-list-item44">
          <i class="icon ion-ios-minus-outline"></i>가구가전
          <span class="item-note">가구,가전제품</span>
        </ion-item>
        <ion-item class="item-icon-left" id="page11-list-item45">
          <i class="icon ion-ios-minus-outline"></i>소모품
          <span class="item-note">소모품 등</span>
        </ion-item>
        <ion-item class="item-icon-left" id="page11-list-item46">
          <i class="icon ion-ios-minus-outline"></i>기타잡비</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>