<ion-view title="거래내역" hide-back-button="true" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div id="page1-button-bar1" class="button-bar bb1">
      <button id="page1-button11" class="button button-assertive button-block">전체</button>
      <button id="page1-button14" class="button button-positive button-block">통장</button>
      <button id="page1-button15" class="button button-positive button-block">카드</button>
      <button id="page1-button12" class="button button-positive button-block">현금</button>
      <button id="page1-button13" class="button button-positive button-block">검색</button>
    </div>
    <div id="page1-container2">
      <div class="spacer" style="width: 320px; height: 11px;"></div>
      <h1 id="page1-heading2" style="color:#000000;text-align:center;" class="m0">7월</h1>
      <div id="page1-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">2017년 7월 1일 ~ 7월 31일 </p>
      </div>
      <table class="type01">
        <tbody>
          <tr>
            <th scope="row">수입</th>
            <td>5,000,000</td>
          </tr>
          <tr>
            <th scope="row">지출</th>
            <td>4,000,000</td>
          </tr>
          <tr>
            <th scope="row" class="bgB1D5DD">차액</th>
            <td class="bgB1D5DD">1,000,000</td>
          </tr>
        </tbody>
      </table>
      <div class="spacer" style="width: 320px; height: 20.9883px;"></div>
    </div>
    <div id="page1-container3">
      <ion-list id="page1-list23">
        <ion-item id="page1-list-item72" ui-sref="withFamilyWithFriend.page21()">Item</ion-item>
      </ion-list>
      <div id="page1-container3">
        <ion-list id="page1-list6">
          <ion-item class="item-avatar" id="page1-list-item14"  ui-sref="withFamilyWithFriend.page21()">
            <img src="img/XmBPsPiRSyvzLnpa5qOB_icon.png" style="margin-top:-5px">
            <p style="white-space:normal;font-size:0.8em;margin-top:-5px">2017-07-01 am9:30</p>
            <h2>롯데카드 / 간식비</h2>
            <p style="white-space:normal;float:right;margin-top:-40px;font-size:1.2em;color:red">-12,800</p>

            <p style="white-space:normal;margin-top:10px;font-size:0.8em">아이시스 생수 1L</p>

            <p style="white-space:normal;margin-top:-23px;margin-left:-45px;font-size:0.8em;color:skyblue">ejchoi</p>

            <p style="white-space:normal;margin-top:-23px;float:right;font-size:0.8em;color:skyblue;">댓글3, 좋아요3</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div id="page1-container8">
      <div id="page1-container3">
        <ion-list id="page1-list6">
          <ion-item class="item-avatar" id="page1-list-item14">
            <img src="img/XmBPsPiRSyvzLnpa5qOB_icon.png" style="margin-top:-5px">
            <p style="white-space:normal;font-size:0.8em;margin-top:-5px">2017-07-01 am9:30</p>
            <h2>롯데카드 / 간식비</h2>
            <p style="white-space:normal;float:right;margin-top:-40px;font-size:1.2em;color:red">-12,800</p>

            <p style="white-space:normal;margin-top:10px;font-size:0.8em">아이시스 생수 1L</p>

            <p style="white-space:normal;margin-top:-23px;margin-left:-45px;font-size:0.8em;color:skyblue">ejchoi</p>

            <p style="white-space:normal;margin-top:-23px;float:right;font-size:0.8em;color:skyblue;">댓글3, 좋아요3</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div id="page1-container9">
      <div id="page1-container3">
        <ion-list id="page1-list6">
          <ion-item class="item-avatar" id="page1-list-item14">
            <img src="img/XmBPsPiRSyvzLnpa5qOB_icon.png" style="margin-top:-5px">
            <p style="white-space:normal;font-size:0.8em;margin-top:-5px">2017-07-01 am9:30</p>
            <h2>롯데카드 / 간식비</h2>
            <p style="white-space:normal;float:right;margin-top:-40px;font-size:1.2em;color:red">-12,800</p>

            <p style="white-space:normal;margin-top:10px;font-size:0.8em">아이시스 생수 1L</p>

            <p style="white-space:normal;margin-top:-23px;margin-left:-45px;font-size:0.8em;color:skyblue">ejchoi</p>

            <p style="white-space:normal;margin-top:-23px;float:right;font-size:0.8em;color:skyblue;">댓글3, 좋아요3</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div id="page1-container4">
      <form id="page1-form4" class="list">
        <label class="item item-select" id="page1-select1">
          <span class="input-label">구분</span>
          <select>
            <option>전체</option>
            <option>통장</option>
            <option>카드</option>
            <option>현금</option>
          </select>
        </label>
        <label class="item item-input" id="page1-input10">
          <span class="input-label">시작일</span>
          <input type="date" placeholder="">
        </label>
        <label class="item item-input" id="page1-input11">
          <span class="input-label">종료일</span>
          <input type="date" placeholder="">
        </label>
        <label class="item item-input" id="page1-input12">
          <span class="input-label">검색어</span>
          <input type="text" placeholder="">
        </label>
        <div id="page1-button-bar9" class="button-bar">
          <button id="page1-button50" class="button button-assertive">검색</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>