<ion-view title="알림" id="page7">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <ion-list id="page7-list5">
      <ion-item class="item-icon-left item-icon-right" id="page7-list-item12">
        <i class="icon ion-android-chat"></i>KSR 님이 메시지를 보냈습니다
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="page7-list-item9" ui-sref="withFamilyWithFriend.page22()">
        <i class="icon ion-alert"></i>Park 님이 My Friends 그룹 멤버로 초대하 였습니다. 초대를 수락하려면 클릭하세요!
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="page7-list-item8">
        <i class="icon ion-android-chat"></i>KSR 님이 메시지를 보냈습니다
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="page7-list-item10">
        <i class="icon ion-ios-people"></i>KSR 님이 My Family 가계부에 거래내역을 작성하였습니다.
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="page7-list-item13">
        <i class="icon ion-android-chat"></i>KSR 님이 메시지를 보냈습니다
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="page7-list-item11">
        <i class="icon ion-ios-people"></i>KSR 님이 My Family 가계부에 거래내역을 작성하였습니다.
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>