<ion-view title="그룹" hide-back-button="true" id="page4">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <ion-list id="page4-list7">
      <ion-item class="item-thumbnail-left item-icon-right" id="page4-list-item30" ui-sref="withFamilyWithFriend.myFamily()">
        <img src="img/L2DN6JUKSOeL0r9s9hVZ_pic2.png">
        <h2>My Family</h2>
        <p style="white-space:normal;">내가 사랑하는 우리 가족의 가계부</p>
        <i class="icon ion-ios-arrow-right"></i>
        <ion-option-button class="button-assertive">삭제</ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="page4-list-item33" ui-sref="withFamilyWithFriend.myFamily()">
        <img src="img/pYsD1RsHSiuZmq2NpijS_pic.jpg">
        <h2>도장 모임</h2>
        <p style="white-space:normal;">언니들이랑 알콩달콩~</p>
        <i class="icon ion-ios-arrow-right"></i>
        <ion-option-button class="button-assertive">삭제</ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="page4-list-item53" ui-sref="withFamilyWithFriend.myFamily()">
        <img src="img/3VIdYXfNQhmpJ4NOO1Wd_pic3.png">
        <h2>동호회</h2>
        <p>동호회 회비 관리!</p>
        <i class="icon ion-ios-arrow-right"></i>
        <ion-option-button class="button-assertive">삭제</ion-option-button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 320px; height: 26px;"></div>
    <div id="page4-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">그룹을 만들어 함께 가계부를 쓸 친구들을 </p>

      <p style="color:#000000;">추가해 보세요 ~</p>

      <p style="color:#000000;">
        <strong>with Family, with Friends !</strong>
      </p>
    </div>
  </ion-content>
</ion-view>