<ion-view title="의견 보내기" id="page17">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> 저장</button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <form id="page17-form6" class="list">
      <label class="item item-select" id="page17-select3">
        <span class="input-label">구분</span>
        <select>
          <option>오류</option>
          <option>기능개선</option>
        </select>
      </label>
      <label class="item item-input" id="page17-input37">
        <span class="input-label">제목</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input contents" id="page17-textarea1">
        <span class="input-label">내용</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="page17-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">소중한 의견을 보내주신 분들께는 추첨을 통해</p>

      <p style="color:#000000;">매월 5분께
        <strong>기프트콘</strong>을 보내 드립니다^^</p>
    </div>
  </ion-content>
</ion-view>