<ion-view title="멤버추가" id="page20">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> 초대</button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div class="spacer" style="width: 320px; height: 18px;"></div>
    <div id="page20-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">전화번호를 입력하시고 </p>

      <p style="color:#000000;">초대할 멤버를 검색하세요</p>
    </div>
    <form id="page20-form8" class="list">
      <label class="item item-input" id="page20-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <div class="spacer" style="width: 320px; height: 38px;"></div>
      <ion-item id="page20-list-item58">김나라
        <span class="item-note">010-3333-0000</span>
      </ion-item>
      <ion-item id="page20-list-item59">장동건
        <span class="item-note">010-3333-0001</span>
      </ion-item>
      <ion-item id="page20-list-item60">송중기
        <span class="item-note">010-3333-0002</span>
      </ion-item>
    </form>
    <div id="page20-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">상기 멤버에게 초대메세지를 전송합니다.</p>

      <p style="color:#000000;">해당 멤버가 수락해야만 그룹멤버로 가입되며</p>

      <p style="color:#000000;">그룹가계부를 함께 쓸 수 있습니다.</p>
    </div>
  </ion-content>
</ion-view>