<ion-view title="반복예산관리" id="page12">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> 저장</button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div id="page12-container10">
      <h5 id="page12-heading3" style="color:#000000;text-align:center;">매월 변하지 않는 반복예산을 등록합니다.</h5>
      <table class="type01">
        <tbody>
          <tr>
            <th scope="row">수입</th>
            <td>5,000,000</td>
          </tr>
          <tr>
            <th scope="row">지출</th>
            <td>4,000,000</td>
          </tr>
          <tr>
            <th scope="row" class="bgB1D5DD">차액</th>
            <td class="bgB1D5DD">1,000,000</td>
          </tr>
        </tbody>
      </table>
      <div class="spacer" style="width: 320px; height: 18.9961px;"></div>
    </div>
    <ion-list id="page12-list19">
      <ion-item class="item-divider bgB1D5DD" id="page12-list-item-divider5"> 수입항목</ion-item>
      <label class="item item-input budgetInput" id="page12-input13">
        <span class="input-label">급여</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input budgetInput" id="page12-input14">
        <span class="input-label">보너스</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input budgetInput" id="page12-input15">
        <span class="input-label">전월이월</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input budgetInput" id="page12-input16">
        <span class="input-label">기타수입</span>
        <input type="number" placeholder="">
      </label>
      <ion-item id="page12-list-item73" class="budgetTotal">수입합계
        <span class="item-note">5,000,000</span>
      </ion-item>
    </ion-list>
    <ion-list id="page12-list20">
      <ion-item class="item-divider bgB1D5DD" id="page12-list-item-divider6"> 지출항목</ion-item>
      <label class="item item-input budgetInput" id="page12-input17">
        <span class="input-label">공과금</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input budgetInput" id="page12-input18">
        <span class="input-label">통신료</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input budgetInput" id="page12-input20">
        <span class="input-label">렌탈보험</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input budgetInput" id="page12-input19">
        <span class="input-label">교육비</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input budgetInput" id="page12-input21">
        <span class="input-label">교통비</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input budgetInput" id="page12-input22">
        <span class="input-label">저축투자</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input budgetInput" id="page12-input23">
        <span class="input-label">식비</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input budgetInput" id="page12-input24">
        <span class="input-label">건강의료</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input budgetInput" id="page12-input25">
        <span class="input-label">의류잡화</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input budgetInput" id="page12-input26">
        <span class="input-label">미용헤어</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input budgetInput" id="page12-input27">
        <span class="input-label">여행문화</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input budgetInput" id="page12-input28">
        <span class="input-label">가구가전</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input budgetInput" id="page12-input29">
        <span class="input-label">소모품</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input budgetInput" id="page12-input30">
        <span class="input-label">기타잡비</span>
        <input type="number" placeholder="">
      </label>
      <ion-item id="page12-list-item74" class="budgetTotal">지출합계
        <span class="item-note">5,000,000</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>