<ion-view title="커뮤니티" hide-back-button="true" id="page6">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div id="page6-button-bar14" class="button-bar bb1">
      <button id="page6-button70" class="button button-positive button-block">자유 게시판</button>
      <button id="page6-button71" class="button button-positive button-block">월말결산</button>
      <button id="page6-button72" class="button button-positive button-block">검색</button>
    </div>
    <form id="page6-form10" class="list">
      <label class="item item-input" id="page6-input41">
        <span class="input-label">검색어</span>
        <input type="text" placeholder="">
      </label>
      <div id="page6-button-bar15" class="button-bar">
        <button id="page6-button76" class="button button-assertive">검색</button>
      </div>
    </form>
    <ion-list id="page6-list21">
      <ion-item class="item-avatar" id="page6-list-item69">
        <img src="img/uk4aVWFyRFzo0t0uiGIo_pic3.png">
        <h2>가입인사드려요~ (31)</h2>
        <p>공주어망 | 2017-07-01</p>
      </ion-item>
      <ion-item class="item-avatar" id="page6-list-item70">
        <img src="img/YqkhRwIXRdOInIOTGHlF_2017-05-2816.38.55.jpg">
        <h2>가계부 노하우 공유 (211)</h2>
        <p>김삿갓 | 2017-07-01</p>
      </ion-item>
      <ion-item class="item-avatar" id="page6-list-item71">
        <img src="img/u8ztp5fS26a0ChF5wwEu_pic5.jpg">
        <h2>맛집 공유 (32)</h2>
        <p>아이린 | 2017-07-01</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>