<ion-view title="재원관리" id="page13">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-add-circle"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <ion-list id="page13-list16">
      <ion-item class="item-divider bgB1D5DD" id="page13-list-item-divider3"> 은행계좌</ion-item>
      <ion-list id="page13-list15">
        <ion-item class="item-icon-left fundNote" id="page13-list-item48">
          <i class="icon ion-cash"></i>생활비통장
          <span class="item-note">123-456-7898
            <br>내계좌/제일은행</span>
        </ion-item>
        <ion-item class="item-icon-left fundNote" id="page13-list-item49">
          <i class="icon ion-cash"></i>동호회 통장
          <span class="item-note">123-456-7898
            <br>동호회계좌/국민은행</span>
        </ion-item>
        <ion-item class="item-icon-left fundNote" id="page13-list-item50">
          <i class="icon ion-cash"></i>우리은행통장
          <span class="item-note">123-456-7898
            <br>내계좌/우리은행</span>
        </ion-item>
        <ion-item class="item-icon-left fundNote" id="page13-list-item51">
          <i class="icon ion-cash"></i>대우증권
          <span class="item-note">123-456-7898
            <br>내계좌</span>
        </ion-item>
      </ion-list>
    </ion-list>
    <ion-list id="page13-list18">
      <ion-item class="item-divider bgB1D5DD" id="page13-list-item-divider4"> 신용카드</ion-item>
      <ion-list id="page13-list17">
        <ion-item class="item-icon-left fundNote" id="page13-list-item52">
          <i class="icon ion-card"></i>롯데카드
          <span class="item-note">5200-4200-1234-1111
            <br>내카드/롯데카드</span>
        </ion-item>
        <ion-item class="item-icon-left fundNote" id="page13-list-item65">
          <i class="icon ion-card"></i>동호회카드
          <span class="item-note">5200-4200-1234-1111
            <br>동호회카드/국민카드</span>
        </ion-item>
        <ion-item class="item-icon-left fundNote" id="page13-list-item66">
          <i class="icon ion-card"></i>동호회카드2
          <span class="item-note">5200-4200-1234-1111
            <br>동호회카드/우리카드</span>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>