<ion-view title="거래내역 상세" id="page21">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div id="page21-container17">
      <div id="page1-container3">
        <ion-list id="page1-list6">
          <ion-item class="item-avatar" id="page1-list-item14">
            <img src="img/XmBPsPiRSyvzLnpa5qOB_icon.png" style="margin-top:-5px">
            <p style="white-space:normal;font-size:0.8em;margin-top:-5px">2017-07-01 am9:30</p>
            <h2>롯데카드 / 간식비</h2>
            <p style="white-space:normal;float:right;margin-top:-40px;font-size:1.2em;color:red">-12,800</p>

            <p style="white-space:normal;margin-top:10px;font-size:0.8em">아이시스 생수 1L</p>

            <p style="white-space:normal;margin-top:-23px;margin-left:-45px;font-size:0.8em;color:skyblue">ejchoi</p>

            <p style="white-space:normal;margin-top:-23px;float:right;font-size:0.8em;color:skyblue;">댓글3, 좋아요3</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div id="page21-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#000000;">아이시스 생수 1L 매일 마시기~</p>
    </div>
    <div>
      <img src="img/6bIIm8twQyiw19zcFZDQ_2017-06-2919.34.43.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>