<ion-view title="엑셀 내보내기" id="page15">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> 저장</button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <form id="page15-form5" class="list">
      <label class="item item-select" id="page15-select2">
        <span class="input-label">구분</span>
        <select>
          <option>내가계부</option>
          <option></option>
        </select>
      </label>
      <label class="item item-input" id="page15-input32">
        <span class="input-label">시작일</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="page15-input33">
        <span class="input-label">종료일</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="page15-input34">
        <span class="input-label">검색어</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>