<ion-view title="환경설정" id="page14">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <ion-list id="page14-list6">
      <ion-toggle toggle-class="toggle-assertive" id="page14-toggle1">비밀번호설정</ion-toggle>
      <ion-toggle toggle-class="toggle-assertive" id="page14-toggle2">현재위치를 가계부에 사용</ion-toggle>
      <ion-toggle toggle-class="toggle-assertive" id="page14-toggle3">문자수신시 거래내역 자동등록</ion-toggle>
      <label class="item item-input" id="page14-input31">
        <span class="input-label">가계부 시작일자</span>
        <input type="number" placeholder="">
      </label>
      <ion-item class="item-icon-right" id="page14-list-item18" ui-sref="withFamilyWithFriend.page15()">엑셀 내보내기
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="page14-list-item19" ui-sref="withFamilyWithFriend.page17()">의견 보내기
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="page14-list-item20" ui-sref="withFamilyWithFriend.page16()">회원약관 및 개인정보취급방침
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="page14-list-item25" ui-sref="withFamilyWithFriend.page18()">특허 정보 및 저작권
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>