<ion-view title="로그인" hide-nav-bar="true" id="page8">
  <ion-content padding="true" class=" manual-remove-top-padding">
    <form id="page8-form1" class="list">
      <div class="spacer" style="width: 320px; height: 50px;"></div>
      <div>
        <img src="img/OQdZyOyDQQBHKDMWTUmP_login.png" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div>
        <img src="img/32U9y0w7S9yViYpufmsJ_icon.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 320px; height: 20px;"></div>
      <ion-list id="page8-list2">
        <label class="item item-input" id="page8-input1">
          <span class="input-label">* 이메일</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="page8-input2">
          <span class="input-label">* 비밀번호</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 10.9844px;"></div>
      <div id="page8-button-bar4" class="button-bar">
        <a ui-sref="withFamilyWithFriend.page1()" id="page8-button29" class="button button-assertive">로그인</a>
      </div>
      <div class="spacer" style="width: 320px; height: 11.9883px;"></div>
      <div id="page8-button-bar6" class="button-bar">
        <a ui-sref="withFamilyWithFriend.page9()" id="page8-button35" class="button button-stable button-block border0">회원가입</a>
        <a ui-sref="withFamilyWithFriend.page10()" id="page8-button36" class="button button-stable button-block border0">비밀번호찾기</a>
      </div>
    </form>
  </ion-content>
</ion-view>