<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right" id="side-menu21">
    <ion-header-bar class="bar-light">
      <div class="title">with Family, with Friend</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-right has-header ">
      <div class="spacer" style="width: 267.5px; height: 23px;"></div>
      <div class="circleImg">
        <img src="img/oLrT5VnEQ22zs4Z9qQGb_pic2.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 267.5px; height: 10px;"></div>
      <div id="withFamilyWithFriend-container1">
        <h4 id="withFamilyWithFriend-heading1" style="color:#000000;text-align:center;" class="m0">Eunjung Choi</h4>
        <div id="withFamilyWithFriend-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">ej5811@naver.com</p>
        </div>
      </div>
      <div class="spacer" style="width: 267.5px; height: 66px;"></div>
      <ion-list id="withFamilyWithFriend-list1" class="menuList">
        <ion-item id="withFamilyWithFriend-list-item1" ui-sref="withFamilyWithFriend.page1()" menu-close="" class="menuItem">거래내역</ion-item>
        <ion-item id="withFamilyWithFriend-list-item2" ui-sref="withFamilyWithFriend.page2()" menu-close="" class="menuItem">요약</ion-item>
        <ion-item id="withFamilyWithFriend-list-item3" ui-sref="withFamilyWithFriend.page3()" menu-close="" class="menuItem">항목관리</ion-item>
        <ion-item id="withFamilyWithFriend-list-item4" ui-sref="withFamilyWithFriend.page4()" menu-close="" class="menuItem">그룹</ion-item>
        <ion-item id="withFamilyWithFriend-list-item5" ui-sref="withFamilyWithFriend.page5()" menu-close="" class="menuItem">채팅</ion-item>
        <ion-item id="withFamilyWithFriend-list-item6" ui-sref="withFamilyWithFriend.page6()" menu-close="" class="menuItem">커뮤니티</ion-item>
      </ion-list>
      <div id="withFamilyWithFriend-button-bar2" class="button-bar">
        <a ui-sref="withFamilyWithFriend.page8()" menu-close="" id="withFamilyWithFriend-button20" class="button button-stable button-block">로그인</a>
        <a ui-sref="withFamilyWithFriend.page9()" menu-close="" id="withFamilyWithFriend-button21" class="button button-stable button-block">회원가입</a>
        <a ui-sref="withFamilyWithFriend.page10()" menu-close="" id="withFamilyWithFriend-button22" class="button button-stable button-block">비밀번호찾기</a>
        <a ui-sref="withFamilyWithFriend.page7()" menu-close="" id="withFamilyWithFriend-button66" class="button button-stable button-block">알림</a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>